<div class="component">
  <h1>Weather App</h1> 
  <input type="text" [(ngModel)]="city" data-testid="input-city" placeholder="Enter city">
  <button (click)="getWeather()" data-testid="get-weather-btn">Get Weather</button>
  
  <div class="weather-details" *ngIf="weather">
    <div class="weather-city">{{ weather.city }}, {{ weather.country }}</div>
    <div class="weather-condition">{{ weather.description }}</div>

    <div class="weather-card-details">
      <div class="weather-card">
        <p>Temperature</p>
        <div>{{ weather.temperature }} °C</div>
      </div>
  
      <div class="weather-card">
        <p>Humidity</p>
        <div>{{ weather.humidity }}%</div>
      </div>
  
      <div class="weather-card">
        <p>Wind Speed</p>
        <div>{{ weather.windSpeed }} m/s</div>
      </div>
    </div>


  </div>
</div>
